@model YouFood.ViewModels.MenuViewModel
@{
	ViewBag.Title = "Index";
}

<div class="container">

	<div class="span12">
		<h2 class="centered padded">Les entrées</h2>
	</div>
		
	<div class="row">
		@foreach (var line in Model.Starters)
		{
			
			<div class="span6">
				<div class="thumbnail">
					<img src="@line.Dish.Image" alt="@line.Dish.Name"/>
					<div class="caption centered">
						<h3>@line.Dish.Name</h3>
						<p>
							<span class="label label-info">Prix: @line.Dish.Price €</span>
							<span class="label label-warning">Quantité: @line.Quantity</span>
						</p>
						@using (Html.BeginForm("AddToCart", "Client"))
						{   
							@Html.Hidden("DishId", @line.Dish.Id)
							<button type="submit" class="btn btn-success btn-large">
								<i class="icon-shopping-cart icon-white"></i>
								Ajouter
							</button>
						}
					</div>
				</div>
			</div>
			
		}
	</div>
		
	<div class="span12">
		<h2 class="centered padded">Les plats</h2>
	</div>
		
	<div class="row">
		@foreach (var line in Model.MainDishes)
		{
			<div class="span6">
				<div class="thumbnail">
					<img src="@line.Dish.Image" alt="@line.Dish.Name"/>
					<div class="caption centered">
						<h3>@line.Dish.Name</h3>
						<p>
							<span class="label label-info">Prix: @line.Dish.Price €</span>
							<span class="label label-warning">Quantité: @line.Quantity</span>
						</p>
						@using (Html.BeginForm("AddToCart", "Client"))
						{   
							@Html.Hidden("DishId", @line.Dish.Id)
							<button type="submit" class="btn btn-success btn-large">
								<i class="icon-shopping-cart icon-white"></i>
								Ajouter
							</button>
						}
					</div>
				</div>
			</div>
		}
	</div>

	<div class="span12">
		<h2 class="centered padded">Les desserts</h2>
	</div>
		
	<div class="row">
		@foreach (var line in Model.Deserts)
		{
			<div class="span6">
				<div class="thumbnail">
					<img src="@line.Dish.Image" alt="@line.Dish.Name"/>
					<div class="caption centered">
						<h3>@line.Dish.Name</h3>
						<p>
							<span class="label label-info">Prix: @line.Dish.Price €</span>
							<span class="label label-warning">Quantité: @line.Quantity</span>
						</p>
						@using (Html.BeginForm("AddToCart", "Client"))
						{   
							@Html.Hidden("DishId", @line.Dish.Id)
							<button type="submit" class="btn btn-success btn-large">
								<i class="icon-shopping-cart icon-white"></i>
								Ajouter
							</button>
						}
					</div>
				</div>
			</div>
		}
	</div>

	<div class="row">
		<div class="form-actions">
			@using (Html.BeginForm("Summary", "Client"))
			{   
				<input class="btn btn-primary btn-large" type="submit" value="Terminer la commande" />
			}
		</div>
	</div>
</div>

<div id="callWaiterWrapper">
	<a class="btn btn-warning" data-toggle="modal" href="#callWaiter"><i class="icon-user icon-white"></i> Aide</a>
</div>

<div id="callWaiter" class="modal hide fade">
	<div class="modal-header">
		<h3>Aide</h3>
	</div>
	<div class="modal-body">
		<p>Les serveurs ont été avertis de votre appel.</p>
		<p>Ils vont vous aider dans les prochaines minutes.</p>
		<p>Merci de votre patience.</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
	</div>
</div>

